# A messy way of learning how to use dask
This notebook was used to use to reduce big data and manipulate it into smaller chunks that can be worked on. This was a process of reduce data, compute, and turn into a csv.

In [2]:
import pandas as pd
from dask import dataframe as dd
import numpy as np
import databricks.koalas as ks
from pyspark.sql import SparkSession

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. Koalas will set it for you but it does not work if there is a Spark context already launched.

In [3]:
npidata_raw = dd.read_csv('data/npidata_pfile_20050523-20210207.csv',low_memory =False,
                         dtype={'Healthcare Provider Primary Taxonomy Switch_11': 'object',
       'NPI': 'object','Entity Type Code' :'object',
        'Healthcare Provider Primary Taxonomy Switch_12': 'object',
       'Healthcare Provider Primary Taxonomy Switch_13': 'object',
       'Healthcare Provider Primary Taxonomy Switch_14': 'object',
       'Healthcare Provider Primary Taxonomy Switch_15': 'object',
       'Healthcare Provider Taxonomy Code_11': 'object',
       'Healthcare Provider Taxonomy Code_12': 'object',
       'Healthcare Provider Taxonomy Code_13': 'object',
       'Healthcare Provider Taxonomy Code_14': 'object',
       'Healthcare Provider Taxonomy Code_15': 'object',
       'Healthcare Provider Taxonomy Group_11': 'object',
       'Healthcare Provider Taxonomy Group_12': 'object',
       'Healthcare Provider Taxonomy Group_13': 'object',
       'Healthcare Provider Taxonomy Group_14': 'object',
       'Healthcare Provider Taxonomy Group_15': 'object',
       'Other Provider Identifier Issuer_16': 'object',
       'Other Provider Identifier Issuer_17': 'object',
       'Other Provider Identifier Issuer_18': 'object',
       'Other Provider Identifier Issuer_19': 'object',
       'Other Provider Identifier Issuer_20': 'object',
       'Other Provider Identifier Issuer_21': 'object',
       'Other Provider Identifier Issuer_22': 'object',
       'Other Provider Identifier Issuer_23': 'object',
       'Other Provider Identifier Issuer_24': 'object',
       'Other Provider Identifier Issuer_25': 'object',
       'Other Provider Identifier Issuer_26': 'object',
       'Other Provider Identifier Issuer_27': 'object',
       'Other Provider Identifier Issuer_28': 'object',
       'Other Provider Identifier Issuer_29': 'object',
        'Other Provider Identifier_31':'object',
'Other Provider Identifier_32': 'object', 
'Other Provider Identifier_33': 'object', 'Other Provider Identifier_38':'object',
       'Other Provider Identifier State_16': 'object',
       'Other Provider Identifier State_17': 'object',
       'Other Provider Identifier State_18': 'object',
       'Other Provider Identifier State_19': 'object',
       'Other Provider Identifier State_20': 'object',
       'Other Provider Identifier State_21': 'object',
       'Other Provider Identifier State_22': 'object',
       'Other Provider Identifier State_23': 'object',
       'Other Provider Identifier State_24': 'object',
       'Other Provider Identifier State_25': 'object',
       'Other Provider Identifier State_26': 'object',
       'Other Provider Identifier State_27': 'object',
       'Other Provider Identifier State_28': 'object',
       'Other Provider Identifier State_29': 'object',
       'Other Provider Identifier State_30': 'object',
       'Other Provider Identifier State_31': 'object',
       'Other Provider Identifier State_32': 'object',
       'Other Provider Identifier State_33': 'object',
       'Other Provider Identifier State_34': 'object',
       'Other Provider Identifier State_35': 'object',
       'Other Provider Identifier State_36': 'object',
       'Other Provider Identifier State_37': 'object',
       'Other Provider Identifier State_38': 'object',
       'Other Provider Identifier State_39': 'object',
       'Other Provider Identifier State_40': 'object',
       'Other Provider Identifier State_41': 'object',
       'Other Provider Identifier State_42': 'object',
       'Other Provider Identifier State_43': 'object',
       'Other Provider Identifier State_44': 'object',
       'Other Provider Identifier State_45': 'object',
       'Other Provider Identifier State_46': 'object',
       'Other Provider Identifier State_47': 'object',
       'Other Provider Identifier_10': 'object',
       'Other Provider Identifier_13': 'object',
       'Other Provider Identifier_14': 'object',
       'Other Provider Identifier_15': 'object',
       'Other Provider Identifier_16': 'object',
       'Other Provider Identifier_17': 'object',
       'Other Provider Identifier_18': 'object',
       'Other Provider Identifier_19': 'object',
       'Other Provider Identifier_20': 'object',
       'Other Provider Identifier_21': 'object',
       'Other Provider Identifier_22': 'object',
       'Other Provider Identifier_23': 'object',
       'Other Provider Identifier_24': 'object',
       'Other Provider Identifier_25': 'object',
       'Other Provider Identifier_26': 'object',
       'Other Provider Identifier_27': 'object',
       'Other Provider Identifier_28': 'object',
       'Other Provider Identifier_29': 'object',
       'Other Provider Identifier_30': 'object',
       'Other Provider Identifier_34': 'object',
       'Other Provider Identifier_35': 'object',
       'Other Provider Identifier_36': 'object',
       'Other Provider Identifier_39': 'object',
       'Other Provider Identifier_40': 'object',
       'Other Provider Identifier_44': 'object',
       'Other Provider Identifier_45': 'object',
       'Provider Business Mailing Address Postal Code': 'object',
       'Provider Business Practice Location Address Telephone Number': 'object',
       'Provider Business Practice Location Address Postal Code': 'object',
       'Provider License Number State Code_11': 'object',
       'Provider License Number State Code_12': 'object',
       'Provider License Number State Code_13': 'object',
       'Provider License Number State Code_14': 'object',
       'Provider License Number State Code_15': 'object',
       'Provider License Number State Code_6': 'object',
       'Provider License Number State Code_8': 'object',
       'Provider License Number_11': 'object',
       'Provider License Number_12': 'object',
       'Provider License Number_13': 'object',
       'Provider License Number_14': 'object',
       'Provider License Number_15': 'object',
       'Provider License Number_5': 'object',
       'Provider License Number_6': 'object',
       'Provider License Number_8': 'object',
       'Provider Other Name Suffix Text': 'object',
                               'Authorized Official Telephone Number': 'object',
       'Other Provider Identifier Issuer_30': 'object',
       'Other Provider Identifier Issuer_31': 'object',
       'Other Provider Identifier Issuer_32': 'object',
       'Other Provider Identifier Issuer_33': 'object',
       'Other Provider Identifier Issuer_34': 'object',
       'Other Provider Identifier Issuer_35': 'object',
       'Other Provider Identifier Issuer_36': 'object',
       'Other Provider Identifier Issuer_41': 'object',
       'Other Provider Identifier State_48': 'object',
       'Other Provider Identifier_41': 'object',
       'Other Provider Identifier_47': 'object',
       'Other Provider Identifier_48': 'object',
       'Provider Business Mailing Address Fax Number': 'object',
       'Provider Business Practice Location Address Fax Number': 'object',
                               'Other Provider Identifier Issuer_37': 'object',
       'Other Provider Identifier Issuer_38': 'object',
       'Other Provider Identifier Issuer_39': 'object',
       'Other Provider Identifier Issuer_40': 'object',
            'Other Provider Identifier Issuer_42': 'object',
       'Other Provider Identifier Issuer_43': 'object',
       'Other Provider Identifier Issuer_44': 'object',
       'Other Provider Identifier Issuer_45': 'object',
       'Other Provider Identifier Issuer_46': 'object',
       'Other Provider Identifier Issuer_47': 'object',
       'Other Provider Identifier Issuer_48': 'object',
       'Other Provider Identifier Issuer_49': 'object',
       'Other Provider Identifier_49': 'object','Other Provider Identifier_42': 'object',
        'Other Provider Identifier_37': 'object',
       'Other Provider Identifier_43': 'object',
       'Other Provider Identifier_46': 'object',
    'Other Provider Identifier Issuer_50': 'object',
       'Other Provider Identifier State_49': 'object',
       'Other Provider Identifier State_50': 'object',
                                'Other Provider Identifier_50': 'object'
                               }
                         )

In [4]:
# filter by certain columns
npidata  = npidata_raw[['NPI','Entity Type Code','Provider Organization Name (Legal Business Name)',
                               'Provider Last Name (Legal Name)','Provider First Name',
            'Provider Middle Name','Provider Name Prefix Text','Provider Name Suffix Text',
                'Provider Credential Text','Provider First Line Business Mailing Address',
                'Provider Second Line Business Mailing Address','Provider Business Mailing Address City Name',
         'Provider Business Mailing Address State Name','Provider Business Mailing Address Postal Code']]

In [10]:
npidata.head()

,NPI,EntityTypeCode,ProviderOrganizationName(LegalBusinessName),ProviderLastName(LegalName),ProviderFirstName,ProviderMiddleName,ProviderNamePrefixText,ProviderNameSuffixText,ProviderCredentialText,ProviderFirstLineBusinessMailingAddress,ProviderSecondLineBusinessMailingAddress,ProviderBusinessMailingAddressCityName,ProviderBusinessMailingAddressStateName,ProviderBusinessMailingAddressPostalCode
0,1679576722,1,NaN,WIEBE,DAVID,A,NaN,NaN,M.D.,PO BOX 2168,NaN,KEARNEY,NE,688482168
1,1588667638,1,NaN,PILCHER,WILLIAM,C,DR.,NaN,MD,1824 KING STREET,SUITE 300,JACKSONVILLE,FL,322044736
2,1497758544,2,"CUMBERLAND COUNTY HOSPITAL SYSTEM, INC",NaN,NaN,NaN,NaN,NaN,NaN,3418 VILLAGE DR,NaN,FAYETTEVILLE,NC,283044552
3,1306849450,1,NaN,SMITSON,HAROLD,LEROY,DR.,II,M.D.,810 LUCAS DR,NaN,ATHENS,TX,757513446
4,1215930367,1,NaN,GRESSOT,LAURENT,NaN,DR.,NaN,M.D.,17323 RED OAK DR,NaN,HOUSTON,TX,770901243

In [11]:
npidata.compute()

,NPI,EntityTypeCode,ProviderOrganizationName(LegalBusinessName),ProviderLastName(LegalName),ProviderFirstName,ProviderMiddleName,ProviderNamePrefixText,ProviderNameSuffixText,ProviderCredentialText,ProviderFirstLineBusinessMailingAddress,ProviderSecondLineBusinessMailingAddress,ProviderBusinessMailingAddressCityName,ProviderBusinessMailingAddressStateName,ProviderBusinessMailingAddressPostalCode
0,1679576722,1,NaN,WIEBE,DAVID,A,NaN,NaN,M.D.,PO BOX 2168,NaN,KEARNEY,NE,688482168
1,1588667638,1,NaN,PILCHER,WILLIAM,C,DR.,NaN,MD,1824 KING STREET,SUITE 300,JACKSONVILLE,FL,322044736
2,1497758544,2,"CUMBERLAND COUNTY HOSPITAL SYSTEM, INC",NaN,NaN,NaN,NaN,NaN,NaN,3418 VILLAGE DR,NaN,FAYETTEVILLE,NC,283044552
3,1306849450,1,NaN,SMITSON,HAROLD,LEROY,DR.,II,M.D.,810 LUCAS DR,NaN,ATHENS,TX,757513446
4,1215930367,1,NaN,GRESSOT,LAURENT,NaN,DR.,NaN,M.D.,17323 RED OAK DR,NaN,HOUSTON,TX,770901243
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51453,1326630724,1,NaN,DELMONTE,ROXANA,NaN,NaN,NaN,MSN-APRN-FNP-C,8895 FONTAINEBLEAU BLVD APT 309,NaN,MIAMI,FL,331724443
51454,1912599325,1,NaN,KATEHIS,GIORGIOS,NaN,NaN,NaN,PHARMD,19 SHERMAN AVE,NaN,PLAINVIEW,NY,118035228
51455,1821680232,1,NaN,NGANDJO YEPNDJOUO,SARIETTE,NaN,MS.,NaN,NaN,2268 CENTURY POINT LN APT E,NaN,GLENDALE HEIGHTS,IL,601391672
51456,1730771148,1,NaN,JONES,JEANETTE,MARIE,NaN,NaN,NaN,412 1ST ST,NaN,MIDDLESEX,NJ,088461502
51457,1649862053,2,"HAPPY SPEECH AND LANGUAGE SERVICES, LLC",NaN,NaN,NaN,NaN,NaN,NaN,5218 PRAIRIE TERRACE LN,NaN,FULSHEAR,TX,774412199

In [12]:
# to big and needs to be a single file argument
npidata.to_csv('npidata.csv',single_file = True)

['C:/Users/matth/Downloads/hop_project/Practice_hop/npidata.csv']

In [165]:
npidata.compute()

,NPI,Entity Type Code,Provider Organization Name (Legal Business Name),Provider Last Name (Legal Name),Provider First Name,Provider Middle Name,Provider Name Prefix Text,Provider Name Suffix Text,Provider Credential Text,Provider First Line Business Mailing Address,Provider Second Line Business Mailing Address,Provider Business Mailing Address City Name,Provider Business Mailing Address State Name,Provider Business Mailing Address Postal Code
0,1679576722,1,NaN,WIEBE,DAVID,A,NaN,NaN,M.D.,PO BOX 2168,NaN,KEARNEY,NE,688482168
1,1588667638,1,NaN,PILCHER,WILLIAM,C,DR.,NaN,MD,1824 KING STREET,SUITE 300,JACKSONVILLE,FL,322044736
2,1497758544,2,"CUMBERLAND COUNTY HOSPITAL SYSTEM, INC",NaN,NaN,NaN,NaN,NaN,NaN,3418 VILLAGE DR,NaN,FAYETTEVILLE,NC,283044552
3,1306849450,1,NaN,SMITSON,HAROLD,LEROY,DR.,II,M.D.,810 LUCAS DR,NaN,ATHENS,TX,757513446
4,1215930367,1,NaN,GRESSOT,LAURENT,NaN,DR.,NaN,M.D.,17323 RED OAK DR,NaN,HOUSTON,TX,770901243
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51453,1326630724,1,NaN,DELMONTE,ROXANA,NaN,NaN,NaN,MSN-APRN-FNP-C,8895 FONTAINEBLEAU BLVD APT 309,NaN,MIAMI,FL,331724443
51454,1912599325,1,NaN,KATEHIS,GIORGIOS,NaN,NaN,NaN,PHARMD,19 SHERMAN AVE,NaN,PLAINVIEW,NY,118035228
51455,1821680232,1,NaN,NGANDJO YEPNDJOUO,SARIETTE,NaN,MS.,NaN,NaN,2268 CENTURY POINT LN APT E,NaN,GLENDALE HEIGHTS,IL,601391672
51456,1730771148,1,NaN,JONES,JEANETTE,MARIE,NaN,NaN,NaN,412 1ST ST,NaN,MIDDLESEX,NJ,088461502
51457,1649862053,2,"HAPPY SPEECH AND LANGUAGE SERVICES, LLC",NaN,NaN,NaN,NaN,NaN,NaN,5218 PRAIRIE TERRACE LN,NaN,FULSHEAR,TX,774412199

In [13]:
# data for taxonomy
npi_taxonomy= npidata_raw[['NPI',
    'Healthcare Provider Primary Taxonomy Switch_1','Healthcare Provider Primary Taxonomy Switch_2',
    'Healthcare Provider Primary Taxonomy Switch_3','Healthcare Provider Primary Taxonomy Switch_4',
    'Healthcare Provider Primary Taxonomy Switch_5','Healthcare Provider Primary Taxonomy Switch_6',
    'Healthcare Provider Primary Taxonomy Switch_7','Healthcare Provider Primary Taxonomy Switch_8',
    'Healthcare Provider Primary Taxonomy Switch_9','Healthcare Provider Primary Taxonomy Switch_9',
    'Healthcare Provider Primary Taxonomy Switch_10','Healthcare Provider Primary Taxonomy Switch_11',
    'Healthcare Provider Primary Taxonomy Switch_12','Healthcare Provider Primary Taxonomy Switch_13',
    'Healthcare Provider Primary Taxonomy Switch_14','Healthcare Provider Primary Taxonomy Switch_15',
     'Healthcare Provider Taxonomy Code_1','Healthcare Provider Taxonomy Code_2',
    'Healthcare Provider Taxonomy Code_3','Healthcare Provider Taxonomy Code_4','Healthcare Provider Taxonomy Code_5',
    'Healthcare Provider Taxonomy Code_6','Healthcare Provider Taxonomy Code_7',
    'Healthcare Provider Taxonomy Code_8','Healthcare Provider Taxonomy Code_9',
    'Healthcare Provider Taxonomy Code_10','Healthcare Provider Taxonomy Code_11',
    'Healthcare Provider Taxonomy Code_12','Healthcare Provider Taxonomy Code_13',
    'Healthcare Provider Taxonomy Code_14','Healthcare Provider Taxonomy Code_15'                     
                        ]]

In [15]:
# data for npi
npi_tax_switch= npidata_raw[['NPI',
    'Healthcare Provider Primary Taxonomy Switch_1','Healthcare Provider Primary Taxonomy Switch_2',
    'Healthcare Provider Primary Taxonomy Switch_3','Healthcare Provider Primary Taxonomy Switch_4',
    'Healthcare Provider Primary Taxonomy Switch_5','Healthcare Provider Primary Taxonomy Switch_6',
    'Healthcare Provider Primary Taxonomy Switch_7','Healthcare Provider Primary Taxonomy Switch_8',
    'Healthcare Provider Primary Taxonomy Switch_9','Healthcare Provider Primary Taxonomy Switch_9',
    'Healthcare Provider Primary Taxonomy Switch_10','Healthcare Provider Primary Taxonomy Switch_11',
    'Healthcare Provider Primary Taxonomy Switch_12','Healthcare Provider Primary Taxonomy Switch_13',
    'Healthcare Provider Primary Taxonomy Switch_14','Healthcare Provider Primary Taxonomy Switch_15' 
]]

In [16]:
# melt the switch to make it a long data set and easy to manipulate
dfmelt_switch = npi_tax_switch.melt(id_vars=['NPI'], var_name='primary_taxonomy_switch')

In [17]:
# Only keep the primary taxonomy
dfmelt_switch = dfmelt_switch[dfmelt_switch['value'] == 'Y']

In [18]:
dfmelt_switch=dfmelt_switch.rename(columns = {'value':'switch_value'})
dfmelt_switch.head()

          NPI                        primary_taxonomy_switch switch_value
0  1679576722  Healthcare Provider Primary Taxonomy Switch_1            Y
2  1497758544  Healthcare Provider Primary Taxonomy Switch_1            Y
3  1306849450  Healthcare Provider Primary Taxonomy Switch_1            Y
5  1023011178  Healthcare Provider Primary Taxonomy Switch_1            Y
6  1932102084  Healthcare Provider Primary Taxonomy Switch_1            Y

In [19]:
dfmelt_switch=dfmelt_switch.compute()

In [27]:
dfmelt_switch.head()

          NPI                        primary_taxonomy_switch switch_value
0  1679576722  Healthcare Provider Primary Taxonomy Switch_1            Y
2  1497758544  Healthcare Provider Primary Taxonomy Switch_1            Y
3  1306849450  Healthcare Provider Primary Taxonomy Switch_1            Y
5  1023011178  Healthcare Provider Primary Taxonomy Switch_1            Y
6  1932102084  Healthcare Provider Primary Taxonomy Switch_1            Y

In [28]:
npi_tax_code =npidata_raw[[
    'NPI','Healthcare Provider Taxonomy Code_1','Healthcare Provider Taxonomy Code_2',
    'Healthcare Provider Taxonomy Code_3','Healthcare Provider Taxonomy Code_4','Healthcare Provider Taxonomy Code_5',
    'Healthcare Provider Taxonomy Code_6','Healthcare Provider Taxonomy Code_7',
    'Healthcare Provider Taxonomy Code_8','Healthcare Provider Taxonomy Code_9',
    'Healthcare Provider Taxonomy Code_10','Healthcare Provider Taxonomy Code_11',
    'Healthcare Provider Taxonomy Code_12','Healthcare Provider Taxonomy Code_13',
    'Healthcare Provider Taxonomy Code_14','Healthcare Provider Taxonomy Code_15']]

In [29]:
npi_tax_code_melt = npi_tax_code.melt(id_vars=['NPI'], var_name='primary_taxonomy_code')

In [30]:
npi_tax_code_melt=npi_tax_code_melt.rename(columns = {'value':'code_value'})

In [33]:
npi_tax_code_melt = npi_tax_code_melt.merge(dfmelt_switch, how='inner', on='NPI')

In [34]:
npi_tax_code_melt

Dask DataFrame Structure:
                    NPI primary_taxonomy_code code_value primary_taxonomy_switch switch_value
npartitions=126
                 object                object     object                  object       object
                    ...                   ...        ...                     ...          ...
...                 ...                   ...        ...                     ...          ...
                    ...                   ...        ...                     ...          ...
                    ...                   ...        ...                     ...          ...
Dask Name: merge, 631 tasks

In [35]:
npi_tax_code_melt.compute()

,NPI,primary_taxonomy_code,code_value,primary_taxonomy_switch,switch_value
0,1679576722,Healthcare Provider Taxonomy Code_1,207X00000X,Healthcare Provider Primary Taxonomy Switch_1,Y
1,1679576722,Healthcare Provider Taxonomy Code_2,NaN,Healthcare Provider Primary Taxonomy Switch_1,Y
2,1679576722,Healthcare Provider Taxonomy Code_3,NaN,Healthcare Provider Primary Taxonomy Switch_1,Y
3,1679576722,Healthcare Provider Taxonomy Code_4,NaN,Healthcare Provider Primary Taxonomy Switch_1,Y
4,1679576722,Healthcare Provider Taxonomy Code_5,NaN,Healthcare Provider Primary Taxonomy Switch_1,Y
...,...,...,...,...,...
770695,1649862053,Healthcare Provider Taxonomy Code_11,NaN,Healthcare Provider Primary Taxonomy Switch_1,Y
770696,1649862053,Healthcare Provider Taxonomy Code_12,NaN,Healthcare Provider Primary Taxonomy Switch_1,Y
770697,1649862053,Healthcare Provider Taxonomy Code_13,NaN,Healthcare Provider Primary Taxonomy Switch_1,Y
770698,1649862053,Healthcare Provider Taxonomy Code_14,NaN,Healthcare Provider Primary Taxonomy Switch_1,Y
770699,1649862053,Healthcare Provider Taxonomy Code_15,NaN,Healthcare Provider Primary Taxonomy Switch_1,Y